{% if construct_type | default("function") == "block" -%}
BLOCK '{{ subflow_name }}'

{{ actions }}
END
{%- else -%}
FUNCTION '{{ subflow_name }}' GLOBAL{% if parameters | default("") %} {{ parameters }}{% endif %}

{{ actions }}
END FUNCTION
{%- endif %}
